mixin style(path, hash=true)
	- var v = (!!version && hash ) ? '?v=' + version : ''
	link(rel="stylesheet", href=path + v)


mixin script(path, hash=true)
	- var v = (!!version && hash ) ? '?v=' + version : ''
	script(src=path + v)


mixin icon(name)
	- var basePath = 'assets/img/icons.svg'
	- var prefix = 'icon_'
	- var iconName = prefix + name;
	svg.icon(class=iconName)&attributes(attributes)
		use(xlink:href=basePath+'#' + iconName)