section.programs
	.container
		.program-holder.program-holder_size_1-3
			.program-item.program-item_size_full
				//- img.program-item__img(src="http://placeimg.com/300/300", alt="")
				picture
					source(
						media="(min-width: 1080px)"
						srcset="assets/img/programs/vip/vip-lg.jpg 1x, assets/img/programs/vip/vip-lg@2x.jpg 2x"
					)
					img.program-item__img(
						src="assets/img/programs/vip/vip-md.jpg",
						srcset="assets/img/programs/vip/vip-md@2x.jpg 2x"
						alt="VIP программа"
					)
				.program-item__text.program-title.program-title_text_center
					b.program-title__accent VIP
					| программа
			a.program-holder__btn(href="#404") Узнать больше

		.program-holder.program-holder_size_2-3
			.program-item.program-item_size_half
				//- img.program-item__img(src="http://placeimg.com/300/310", alt="")
				picture
					source(
						media="(min-width: 1080px)"
						srcset="assets/img/programs/bonus/bonus-lg.jpg 1x, assets/img/programs/bonus/bonus-lg@2x.jpg 2x"
					)
					img.program-item__img(
						src="assets/img/programs/bonus/bonus-md.jpg",
						srcset="assets/img/programs/bonus/bonus-md@2x.jpg 2x"
						alt="приветственный бонус"
					)
				.program-item__text.program-item__text_pos_adjust.program-title
					b.program-title__accent 20%
					| приветственный бонус
			.program-item.program-item_size_half
				//- img.program-item__img(src="http://placeimg.com/310/300", width="300", height="300" alt="")
				picture
					source(
						media="(min-width: 1080px)"
						srcset="assets/img/programs/deposit/deposit-lg.jpg 1x, assets/img/programs/deposit/deposit-lg@2x.jpg 2x"
					)
					img.program-item__img(
						src="assets/img/programs/deposit/deposit-md.jpg",
						srcset="assets/img/programs/deposit/deposit-md@2x.jpg 2x"
						alt="приветственный бонус"
					)
				.program-item__text.program-title
					b.program-title__accent 2×
					| Удвоение депозита
			a.program-holder__btn.program-holder__btn_pos_center(href="#404") Узнать больше